<html>
    <head>
        <body>
            <div class="ui  container" >
                <div style="background-image:url(http://i346.photobucket.com/albums/p402/livtylivty/old%20paper_zps89jrlu1l.jpg);padding-left:5%;margin-right:70%">
            <p>I love coffee</p>
            <p>I love Node</p>
            <p>Play around with API</p>
            <p>And ocasionally travel in time</p>
            
            <p>Rhyming is not my strongest skill</p>
            <p>But I like using HTML/CSS and chill</p>
            <p>Don't forget about Express</p>
            <p>How can I not mention JavaScript</p>
            <p>Cause that stuff is lit</p>
            
            <p>Did I forget anything</p>
            <p>Let's see</p>
            <p>MongoDB to store the stuff</p>
            <p>And thus let it be!</p>
            </div>
            </div>
        </body>
      
    </head>
</html>