<html>
    <head>
        <title>Tetiana Tykhomyrova | Web developer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
        <link rel="stylesheet" href="/app.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js" integrity="sha256-mq9Ru97qzOm1x5zeYFfPniWgQP9tEmjo3O4jUEJdjNY=" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        </head>
        <body>
          
<div class="ui brown three item menu">
  <a href="/" class="active item">
    Home
  </a>
  <a href="/about"class="active item">
    About
  </a>
  <a href="/work"class="item">
    Work/Blog
  </a>
  <!--<a href="/contact" class="item">
   Contact
  </a>-->
</div>

