<% include ./partials/header %>
<body style="background-image:url(http://i346.photobucket.com/albums/p402/livtylivty/7f992ed2-b967-4e15-9115-42e430ab3817_zpsvbcbfvyo.jpg);background-size:cover">

 <div class="ui text container">
     
 <h1 class="ui header" style="color:white;font-size:200%">Hey, I am Tetiana :)</h1>
 <h2 style="font-size:200%">I am a freelance web developer based in Helsinki.</h2>
 <h2 style="font-size:200%">I love working with all stages of development starting from UX design and going all the way to back-end.</h2>
 <p>
  <a class="ui blue large button"href="/work">See my work</a>
<i  class="Github icon" ></i><a class="ui blue medium button"    target="_blank" href="https://github.com/livty"> Github</a>
<i  class="Linkedin icon" ></i><a class="ui blue medium button"   target="_blank" href="https://www.linkedin.com/in/tetyanatykhomyrova/"> Linkedin</a>
 </p>
 </div>

</div>
<% include ./partials/footer %>