<% include ./partials/header %>
<p style="margin-left:40%">Check out this adorable puppy!</p>
<img src="https://images.unsplash.com/photo-1468849169681-0b89c0d8aeab?dpr=1&auto=format&fit=crop&w=1500&h=1955&q=80&cs=tinysrgb&crop=" style=
"height:100%;margin-left:30%">
<% include ./partials/footer %>